<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ROI_BI_Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
     <clear />
    <add name="ROIBIDB" connectionString="Data Source=192.168.60.130;Initial Catalog=ROIBI;User ID=roiuser;Password=Congruent@123"/>
  </connectionStrings>

<appSettings>
  <add key="ROIBIDB" value="Data Source=192.168.60.130;Initial Catalog=ROIBI;User ID=roiuser;Password=Congruent@123" />
</appSettings>
  <userSettings>
    <ROI_BI_Win.Properties.Settings>
      <setting name="ROIBIDB" serializeAs="String">
        <value>Data Source=192.168.60.130;Initial Catalog=ROIBI;User ID=roiuser;Password=Congruent@123</value>
      </setting>
    </ROI_BI_Win.Properties.Settings>
  </userSettings>
</configuration>